<div class="container mx-auto my-5 py-5 px-5 bg-white-100 md:rounded-3xl md:px-20">
  <section class= "basic-info text-center">
    <h3 class= "font-bold text-4xl"><%= @spot.name %></h3>
    <p class= "text-gray-400 font-semibold text-lg mt-4"><%= @spot.address %></p>
    <div class= "flex my-2 text-base">
      <p class="text-gray-400 leading-10 mx-10">Googleで</p>
      <svg class="h-10 w-10" fill="#f59e0b" viewbox=("0 0 20 20") xmlns="http://www.w3.org/2000/svg">
        <path d=("M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z")></path>
      </svg>
      <p class="text-yellow-500 font-semibold text-3xl leading-10"><%= @spot.rating %></p>
    </div>
  </section>
  <section class="gallery my-5">
    <div class="shop-detail ml-3">
      <div class="flex text-gray-500 text-base mb-4 flex-wrap">
        <p class="px-4 mr-4 font-semibold">TEL</p>
        <p class="text-base"><%= @spot.tel_number %>
      </div>
      <div class="flex text-gray-500 text-base mb-4 items-center flex-wrap">
        <p class="px-4 mr-4 font-semibold">営業時間</p>
      </div>
    </div>
  </section>
  <section class="location mx-auto my-5">
    <div class="flex flex-wrap justify-center">
      <div class="embed-map md:mr-3 md:w-1/2">
        <iframe src="https://www.google.com/maps/embed/v1/place?key=<%= Rails.application.credentials[:googlemap][:key] %>&q=<%=@spot.name%>&center=<%=@spot.latitude%>,<%=@spot.longitude%>&zoom=13" width="100%" height="100%"></iframe>
        <div class="text-center mt-10">
          <%= link_to 'Google Mapへ', "https://www.google.com/maps/search/?api=1&query=#{@spot.name}&query_place_id=#{@spot.place_id}", class: "px-24 py-3 my-5 bg-blue-300 text-blue-600 font-semibold rounded-3xl text-center", target: :_blank, rel: "noopener noreferrer" %>
        </div>
      </div>
    </div>
    <%= render partial: "posts/post", collection: @posts %>
  </section>
</div>
