<%= javascript_pack_tag 'search_bike' %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <%= form_with model: @user, url: user_path, local: true, class: "new_board", local: true do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="form-group">
          <%= f.label :name%>
          <%= f.text_field :name, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, class: "form-control", onchange: 'previewImage()' %>
          <%= f.hidden_field :avatar_cache %>
          <% if @user.avatar.attached? %>
            <% @user.avatar.purge %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :header %>
          <%= f.file_field :header, class: "form-control", onchange: 'previewImage()' %>
          <%= f.hidden_field :header_cache %>
          <% if @user.header.attached? %>
            <% @user.header.purge %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :profile%>
          <%= f.text_area :profile, class: "form-control"%>
        </div>

        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
