<ul>
  <li class="h-6 w-6 fill-current text-gray-500 hover:text-black ml-10 justify-end">
    <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
      <%= icon 'fa', 'pen' %>
    <% end %>
  </li>
</ul>
<ul>
  <li class="h-6 w-6 fill-current text-gray-500 hover:text-black ml-2">
    <%= link_to post_path(post), id: "button-delete-#{post.id}", method: :delete, data: {confirm: t('defaults.destroy')} do %>
      <%= icon 'fas', 'trash' %>
    <% end %>
  </li>
</ul>
<ul>
  <li class="h-6 w-6 fill-current text-gray-500 hover:text-black ml-1">
    <%= link_to 'Twitter', "https://twitter.com/share?text=ツーリング日は#{l post.touring_date, format: :date }！#{post.content}&url=#{request.url}&hashtags=バイク好きと繋がりたい,Yaeh" %>
  </li>
</ul>
<ul>
  <li class="h-6 w-6 fill-current text-gray-500 hover:text-black ml-8">
    <%= link_to 'Line', "https://timeline.line.me/social-plugin/share?text=ツーリング日は#{l post.touring_date, format: :date}！#{post.content}&url=#{request.url}" %>
  </li>
</ul>
