<%= form_with model: @post, local: true, class: "new_post" do |f| %>
  <%#= hidden_field_tag :spot_ids, params[:spot_ids], @post.post2_spots.spot_ids %>
  <div class="form-group">
    <%= f.hidden_field 'post[spot_ids][]', value: params[:spot_ids] %>
    #フォームオブジェクトでやる
  </div>

  <div class="form-group">
    <%= f.label :touring_date, class: "spot_touring_date" %>
    <%= f.date_field :touring_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content, class: "spot_content" %>
    <%= f.text_field :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>


  <div class="form-group">
    <%#= f.label :route_image, class: "spot_touring_date" %>
    <%#= f.text_field :route_image, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
