<section class="">
  <div class=" items-center px-5 py-12 lg:px-20">
    <div class="flex flex-col w-full max-w-md p-10 mx-auto my-6 transition duration-500 ease-in-out transform bg-white rounded-lg md:mt-0">
      <div class="mt-8">
        <div class="mt-6">
          <%= form_with model:@user, local: true, class: "space-y-6" do |f| %>
            <div>
              <%= f.label :email, User.human_attribute_name(:email)%>
              <div class="mt-1">
                <%= f.email_field :email, class: "block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:border-transparent focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:ring-offset-gray-300 border-gray-500", placeholder: "Your Email" %>
              </div>
            </div>
            <div class="space-y-1">
              <%= f.label :password, User.human_attribute_name(:password) %>
              <div class="mt-1">
                <%= f.password_field :password, placeholder: "Your Password", class: "block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:border-transparent focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:ring-offset-gray-300 border-gray-500" %>
              </div>
            </div>
            <div class="flex items-center justify-between">
              <!--div class="flex items-center">
                <input id="remember-me" name="remember-me" type="checkbox" placeholder="Your password" class="w-4 h-4 text-blue-600 border-gray-200 rounded focus:ring-blue-500">
                <label for="remember-me" class="block ml-2 text-sm text-neutral-600"> Remember me </label>
              </div-->
              <div class="text-sm">
                <%= link_to "New account", new_user_path, { class: "font-medium text-blue-600 hover:text-blue-500 mr-2" } %>
                <%= link_to "Forgot your password?", new_password_reset_path, { class: "font-medium text-blue-600 hover:text-blue-500 mr-2" } %>
              </div>
            </div>
            <div>
              <%= f.submit 'Sign in', class: "flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
